/* header デザイン */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    font-family: 'Noto Serif', serif;
}

ul#nav_ul {
    display: flex;
    justify-content: space-around;
    padding: 0%;
    list-style: none;
}

ul#nav_ul>li {
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: -webkit-fill-available;
}

ul#nav_ul>li+li {
    border-left: none;
}

ul#nav_ul>li:hover {
    background-color: #0000001f;
}

ul#nav_ul>li>a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 2px;
}

ul#nav_ul>li>a>i {
    margin-right: 2px;
}
/* header デザインここまで */

/* body デザイン */
h1 {
    border-left: 5px solid #ffc107;
}
h2{
    border :5px solid #ffc107;
    padding :10px;
}

.err_area {
    background-color: #ff00001d;
}

img {
    object-fit: cover;
}
/* body デザインここまで */

/* article card デザイン */
.tag-area>a::before {
    content: "#";
}

h3>a,
.tag-area>a {
    text-decoration: none;
    color: black;
}

h3>a:hover,
.tag-area>a:hover {
    color: gray;
}

.good-counter:hover {
    cursor: pointer;
}
/* article card デザインここまで */
